<ng-container *ngIf="isLoading; else elseTemplate">
  <app-loading-spinner [showSpinner]="isLoading"></app-loading-spinner>
</ng-container>
<ng-template #elseTemplate>
  <div>
    <div class="row secondary-toolbar">
      <app-toggle-sort
        class="col align-self-center"
        (valueChange)="sortToggleEventHandler($event)"
      ></app-toggle-sort>
      <app-search-bar
        class="col align-self-center"
        (valueChange)="searchCountries($event)"
      ></app-search-bar>
      <mat-paginator
        class="col"
        [length]="searchedCountries?.length"
        [pageSize]="numberOfCountriesPerPage"
        (page)="updateGrid($event)"
      >
      </mat-paginator>
    </div>
    <div class="contain-in-width">
      <app-grid
        [list]="searchedCountries"
        [firstIndex]="firstIndex"
        [lastIndex]="lastIndex"
      ></app-grid>
    </div>
  </div>
</ng-template>
