.contain-in-width {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.secondary-toolbar {
  margin-left: 0;
  width: 100%;
  background-color: white;

  app-toggle-sort {
    margin-left: 10px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
