<ng-container *ngIf="isLoading; else elseTemplate">
  <app-loading-spinner [showSpinner]="isLoading"></app-loading-spinner>
</ng-container>
<ng-template #elseTemplate>
  <div>
    <div class="row secondary-toolbar">
      <app-toggle-sort
        class="col align-self-center"
        (valueChange)="sortToggleEventHandler($event)"
      ></app-toggle-sort>
      <app-search-bar
        class="col align-self-center"
        (valueChange)="searchCountries($event)"
      ></app-search-bar>
      <mat-paginator
        class="col"
        [length]="searchedCountries?.length"
        [pageSize]="numberOfCountriesPerPage"
        (page)="updateGrid($event)"
      >
      </mat-paginator>
    </div>
    <mat-grid-list cols="4" rowHeight="1.5:1" gutterSize="10px">
      <mat-grid-tile
        *ngFor="let country of searchedCountries | slice: firstIndex:lastIndex"
      >
        <div class="container d-flex justify-content-center">
          <app-country-card [country]="country"></app-country-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-template>
