<mat-card class="card">
  <mat-card-header>
    <img
      mat-card-avatar
      class="header"
      src="{{ country?.countryInfo?.flag }}"
    />
    <mat-card-title class="oneline-title">{{ country?.country }}</mat-card-title>
    <mat-card-subtitle>{{ country?.continent }}</mat-card-subtitle>
  </mat-card-header>
  <div class="row align-items-end justify-content-between">
    <span class="col">Cases</span>
    <span class="col">Deaths</span>
    <span class="col">Recovered</span>
  </div>
  <div class="row align-items-start justify-content-between">
    <span class="col highlight">
      {{ country?.cases | number }}
    </span>
    <span class="col highlight">
      {{ country?.deaths | number }}
    </span>
    <span class="col highlight">
      {{ country?.recovered | number }}
    </span>
  </div>
  <div class="row align-items-end justify-content-between">
    <span class="col">Tests</span>
    <span class="col">Population</span>
    <span class="col"></span>
  </div>
  <div class="row align-items-start justify-content-between">
    <span class="col highlight">
      {{ country?.tests | number }}
    </span>
    <span class="col highlight">
      {{ country?.population | million: "1.0-1" }}
    </span>
    <span class="col"></span>
  </div>
  <div class="row justify-content-end">
    <button
      class="col-md-auto edit-button"
      mat-raised-button
      color="primary"
      (click)="editCountry(country?.country)"
    >
      Edit
    </button>
  </div>
</mat-card>
