.container {
  height: 100%;
  position: relative;
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    &.-left {
      right: 60%;
    }

    &.-right {
      left: 60%;
    }
  }
  
  .logo {
    height: auto;
    width: auto;
  }
  
  .form-card {
    min-width: 480px;
    padding: 30px;

    .form-label {
      font-weight: 500;
    }

    .error-message {
      color: red;
      opacity: 0.7;
    }
  }
}
