.container {
  margin-top: 5%;

  .card {
    margin-top: 10px;
    min-width: 85%;
    max-width: 85%;
    overflow: visible;
    padding: 5%;
    border-radius: 20px;
  }

  form {
    padding-left: 5%;
    padding-right: 10%;
  }

  .header-image {
    background-size: cover;
  }

  .button-group {
    padding-left: 5%;
    padding-right: 5%;

    .btn {
      width: 15%;
    }

    .cancel-button {
      border-color: #ced4da;
    }
  }
}
