<ng-container *ngIf="isLoading; else elseTemplate">
  <app-loading-spinner [showSpinner]="isLoading"></app-loading-spinner>
</ng-container>
<ng-template #elseTemplate>
  <div class="container d-flex justify-content-center">
    <mat-card class="card">
      <mat-card-header>
        <img
          mat-card-avatar
          class="header-image"
          src="{{ country?.countryInfo?.flag }}"
        />
        <mat-card-title>{{ country?.country }}</mat-card-title>
        <mat-card-subtitle>{{ country?.continent }}</mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]="editCountryForm">
        <div class="form-group">
          <label class="form-label" for="numberOfCases">Cases</label>
          <input
            type="text"
            formControlName="numberOfCases"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                this.editCountryForm.dirty && formData.numberOfCases.errors
            }"
          />
          <div
            *ngIf="this.editCountryForm.dirty && formData.numberOfCases.errors"
            class="invalid-feedback"
          >
            <div *ngIf="formData.numberOfCases.errors.required">
              Cases is required
            </div>
            <div *ngIf="formData.numberOfCases.errors.pattern">
              Numbers only
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="numberOfDeaths">Deaths</label>
          <input
            type="text"
            formControlName="numberOfDeaths"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                this.editCountryForm.dirty && formData.numberOfDeaths.errors
            }"
          />
          <div
            *ngIf="this.editCountryForm.dirty && formData.numberOfDeaths.errors"
            class="invalid-feedback"
          >
            <div *ngIf="formData.numberOfDeaths.errors.required">
              Deaths is required
            </div>
            <div *ngIf="formData.numberOfDeaths.errors.pattern">
              Numbers only
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="numberOfRecovered">Recovered</label>
          <input
            type="text"
            formControlName="numberOfRecovered"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                this.editCountryForm.dirty && formData.numberOfRecovered.errors
            }"
          />
          <div
            *ngIf="
              this.editCountryForm.dirty && formData.numberOfRecovered.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="formData.numberOfRecovered.errors.required">
              Recovered is required
            </div>
            <div *ngIf="formData.numberOfRecovered.errors.pattern">
              Numbers only
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="numberOfTestsDone">Tests</label>
          <input
            type="text"
            formControlName="numberOfTestsDone"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                this.editCountryForm.dirty && formData.numberOfTestsDone.errors
            }"
          />
          <div
            *ngIf="
              this.editCountryForm.dirty && formData.numberOfTestsDone.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="formData.numberOfTestsDone.errors.required">
              Tests is required
            </div>
            <div *ngIf="formData.numberOfTestsDone.errors.pattern">
              Numbers only
            </div>
          </div>
        </div>
        <div class="form-group row">
          <button class="btn" (click)="redirectToCountriesPage()">
            Cancel
          </button>
          <button
            class="col"
            [disabled]="editCountryForm.invalid"
            class="btn btn-primary"
            (click)="saveChanges()"
          >
            Save
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</ng-template>
