.contain-in-width {
  width: 100%;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;

  .mat-grid-list {
    margin-top: 25px;
    margin-bottom: 50px;
    .mat-grid-tile {
      overflow: visible;
    }
  }

  .stat-card {
    min-width: 85%;
    height: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 1;

    .text-content {
      margin: auto;
      width: 100%;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .-numerical-content {
      font-size: 4vh;
    }

    .-alpha {
      font-size: 2vh;
      line-height: 1;
    }
  }
}
